In [1]:
import pandas as pd

In [2]:
f = open("passwords.txt", "r")

In [3]:
data=f.read()

In [4]:
splitted_data=data.split("\n")

In [5]:
splitted_data[0]

'15-16 l: klfbblslvjclmlnqklvg'

In [6]:
'15-16 l: klfbblslvjclmlnqklvg'.split(": ")

['15-16 l', 'klfbblslvjclmlnqklvg']

In [7]:
data_df=pd.DataFrame(splitted_data).iloc[:-1,-1].str.split(expand=True)

In [8]:
data_df[2].values[0].count('l')

6

In [9]:
data_df[2].values[0]

'klfbblslvjclmlnqklvg'

In [10]:
mini_maxi=data_df[0].str.split('-',expand=True)

In [11]:
mini_maxi=mini_maxi.rename(columns={0: "mini", 1: "maxi"})

In [12]:
concat_data=pd.concat((data_df,mini_maxi),axis=1)

In [13]:
concat_data=concat_data.rename(columns={0: "range", 1: "letter",2:"string"})

In [14]:
concat_data

     range letter                string mini maxi
0    15-16     l:  klfbblslvjclmlnqklvg   15   16
1     6-13     h:        pghjchdxhnjhjd    6   13
2     4-13     n:      nnznntzznqnzbtzj    4   13
3    10-16     r:      nrrrrkrjtxwrrrwx   10   16
4      1-6     t:  rttftttttttttmdttttt    1    6
..     ...    ...                   ...  ...  ...
995   8-12     r:        rrkrrrprvrcqnr    8   12
996  14-15     j:  jkpjjnjjjwjjjjjjhjwj   14   15
997    7-9     s:             stsstspsn    7    9
998   8-11     h:        hhhhbhhhhjhhhh    8   11
999    5-6     d:               dddtpdd    5    6

[1000 rows x 5 columns]

In [15]:
concat_data['letter']=concat_data['letter'].apply(lambda x: x[0])

In [16]:
concat_data

     range letter                string mini maxi
0    15-16      l  klfbblslvjclmlnqklvg   15   16
1     6-13      h        pghjchdxhnjhjd    6   13
2     4-13      n      nnznntzznqnzbtzj    4   13
3    10-16      r      nrrrrkrjtxwrrrwx   10   16
4      1-6      t  rttftttttttttmdttttt    1    6
..     ...    ...                   ...  ...  ...
995   8-12      r        rrkrrrprvrcqnr    8   12
996  14-15      j  jkpjjnjjjwjjjjjjhjwj   14   15
997    7-9      s             stsstspsn    7    9
998   8-11      h        hhhhbhhhhjhhhh    8   11
999    5-6      d               dddtpdd    5    6

[1000 rows x 5 columns]

In [17]:
concat_data['string'].values[-1].count(concat_data['letter'].values[-1])

5

In [18]:
concat_data.columns

Index(['range', 'letter', 'string', 'mini', 'maxi'], dtype='object')

In [19]:
concat_data['count']=concat_data.apply(lambda x: x['string'].count(x['letter']),axis=1)

In [20]:
concat_data

     range letter                string mini maxi  count
0    15-16      l  klfbblslvjclmlnqklvg   15   16      6
1     6-13      h        pghjchdxhnjhjd    6   13      4
2     4-13      n      nnznntzznqnzbtzj    4   13      6
3    10-16      r      nrrrrkrjtxwrrrwx   10   16      8
4      1-6      t  rttftttttttttmdttttt    1    6     16
..     ...    ...                   ...  ...  ...    ...
995   8-12      r        rrkrrrprvrcqnr    8   12      8
996  14-15      j  jkpjjnjjjwjjjjjjhjwj   14   15     14
997    7-9      s             stsstspsn    7    9      5
998   8-11      h        hhhhbhhhhjhhhh    8   11     12
999    5-6      d               dddtpdd    5    6      5

[1000 rows x 6 columns]

In [21]:
concat_data['valid']=concat_data.apply(lambda x: (x['count']>=int(x['mini']))&(x['count']<=int(x['maxi'])),axis=1)

In [22]:
concat_data['valid'].sum()

424

Part 2

In [23]:
another_data=concat_data.copy()

In [24]:
another_data=another_data.iloc[:,:-2]

In [25]:
another_data=another_data.rename(columns={"mini": "has", "maxi": "not"})

In [26]:
another_data

     range letter                string has not
0    15-16      l  klfbblslvjclmlnqklvg  15  16
1     6-13      h        pghjchdxhnjhjd   6  13
2     4-13      n      nnznntzznqnzbtzj   4  13
3    10-16      r      nrrrrkrjtxwrrrwx  10  16
4      1-6      t  rttftttttttttmdttttt   1   6
..     ...    ...                   ...  ..  ..
995   8-12      r        rrkrrrprvrcqnr   8  12
996  14-15      j  jkpjjnjjjwjjjjjjhjwj  14  15
997    7-9      s             stsstspsn   7   9
998   8-11      h        hhhhbhhhhjhhhh   8  11
999    5-6      d               dddtpdd   5   6

[1000 rows x 5 columns]

In [28]:
another_data['string'][0][15+1]

'k'

In [40]:
def find_has(x):
    try:
        a=x['string'][int(x['has'])+1]
        return a
    except:
        return False

In [42]:
another_data['find_has']=another_data.apply(find_has,axis=1)

In [43]:
def find_not(x):
    try:
        a=x['string'][int(x['not'])+1]
        return a
    except:
        return False

In [44]:
another_data['find_not']=another_data.apply(find_not,axis=1)

In [45]:
another_data

     range letter                string has not find_has find_not
0    15-16      l  klfbblslvjclmlnqklvg  15  16        k        l
1     6-13      h        pghjchdxhnjhjd   6  13        x    False
2     4-13      n      nnznntzznqnzbtzj   4  13        t        z
3    10-16      r      nrrrrkrjtxwrrrwx  10  16        r    False
4      1-6      t  rttftttttttttmdttttt   1   6        t        t
..     ...    ...                   ...  ..  ..      ...      ...
995   8-12      r        rrkrrrprvrcqnr   8  12        r        r
996  14-15      j  jkpjjnjjjwjjjjjjhjwj  14  15        j        h
997    7-9      s             stsstspsn   7   9        n    False
998   8-11      h        hhhhbhhhhjhhhh   8  11        j        h
999    5-6      d               dddtpdd   5   6        d    False

[1000 rows x 7 columns]

In [46]:
def find_result(x):
    if ((x['letter']==x['find_has'])&(x['letter']!=x['find_not'])):
        return True
    return False

In [48]:
sum(another_data.apply(find_result,axis=1))

295

reddit solution

In [50]:
r = open("passwords.txt").read().strip('\n')
import re
input = [[int(y) if y.isdigit() else y for y in re.split('-| |: ',line)] for line in r.splitlines()]

#Part 1
valid = 0
for entry in input:
    if entry[0] <= entry[3].count(entry[2]) <= entry[1]:
        valid = valid + 1

print(valid)

#Part 2
valid = 0
for entry in input:
    if (entry[3][entry[0]-1] == entry[2]) != (entry[3][entry[1]-1] == entry[2]):
        valid = valid + 1

print(valid)

424
747